@model List<Coaches>


<div class="container p-4">

@* 	<partial name="Silder" />
 *@	<div class="row">

		<div class="col-6">
			<h2 class="text-primary">Coaches View</h2>
		</div>

		<div class="col-6  pb-3 ">
			<a asp-action="New"  class="btn btn-primary ml-3 text-center">
				<i class="bi bi-plus-circle-dotted"></i> &nbsp; Add New Coache

			</a>
		</div>

		<table class="table table-border table-hover">

			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Address</th>
				<th>PhoneNumber</th>
				<th>Gender</th>
				<th>Events</th>
			</tr>

			@foreach (var item in Model)
			{
				<tr>
					<td width="20%">@item.Name</td>
					<td width="20%">@item.Email</td>
					<td width="20%">@item.Address</td>
					<td width="20%">@item.PhoneNumber</td>
					<td width="10%">@item.Gender</td>
					<td width="20%">
						<a asp-controller="Coaches" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-sm btn-primary">
							<i class="bi bi-pencil"></i>
						</a>
						&nbsp;
						<a asp-controller="Coaches" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-sm btn-danger">
							<i class="bi bi-trash3"></i>
						</a>
					</td>
				</tr>

			}


		</table>



	</div>
@* 		<partial name="Silder_2" />
 *@


</div>


